Package: libwayland-doc
Source: wayland
Version: 1.16.0-2
Architecture: all
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Installed-Size: 690
Conflicts: libwayland-dev (<< 1.10.0-2)
Replaces: libwayland-dev (<< 1.10.0-2)
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: https://wayland.freedesktop.org/
Description: wayland compositor infrastructure - documentation files
 Wayland is a protocol for a compositor to talk to its clients as well
 as a C library implementation of that protocol. The compositor can be
 a standalone display server running on Linux kernel modesetting and
 evdev input devices, an X application, or a wayland client
 itself. The clients can be traditional applications, X servers
 (rootless or fullscreen) or other display servers.
 .
 This package contains the documentation for the Wayland libraries.
 Non-developers likely have little use for this package.
